/***** GENERAL *****/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    margin : 0;
}

* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-size: 22px;  
    font-weight: 600;  
}

h3 {
    font-size: 16px;   
    font-weight: 600;  
}

h4 {
    font-size: 18px;
    font-weight: 600;
    margin : 0;
}
  
.section-hebergements {
    order: 1;
}

.section-populaires {
    order: 2;
}

body {
    display: flex;
    justify-content: center;
}

.body-section {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
}

.fa-solid {
    color: var(--main-color);
}


/***** HEADER *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 61px;
    height: 19px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 68px;
}

nav li {
    box-sizing: border-box; 
    padding: 16px 0px 50px 0px; 
    border-top: 2px solid transparent;
}

nav li:hover {
    border-top: solid 2px var(--main-color);
    color : var(--main-color);    
}


/***** HEADLINE *****/

.headline h1 {
    margin : 0;
    margin-top: 30px;
}

.headline p {
    margin : 0;
    margin-top: 8px;
}


/***** RECHERCHE *****/

form.recherche {
    margin-top: 35px;
    margin-bottom: 35px;
}

.recherche {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    font-size: 110%;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    color: black;
}

.champ-recherche {   
    width: fit-content;
    font-size: 18px ;
    font-weight: 600;
    border: solid 1px var(--main-bg-color);
    border-right: none;
    border-left: none;
    padding: 13.5px 0px 13.5px 0px;
}

.champ-recherche::placeholder {
    text-align: center;
    color:black; 
}

.bouton-recherche {
    color: white;  
    background-color: var(--main-color); 
    padding: 14px;
    border-radius: 0px 15px 15px 0px;
    border: var(--main-color);
    font-weight: 600;
}

.texte-recherche {
    font-size: 18px;
}

.bouton-recherche .fa-magnifying-glass {
    display: none;
    color: white;
    font-size: 18px; 
}


/***** FILTRES *****/

.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.boutons-filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.boutons-filtres button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    font-size: 17px;
    font-weight: 600;
    padding: 13px;
}

.boutons-filtres button:hover {
    background-color : #DEEBFF;    
}

.texte-filtre {
    font-size: 18px;
    font-weight: 600;
    margin : 0;
}

.informations p {
    margin : 0;
}

.informations {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire {
    font-size: 20px;
}


/***** HEBERGEMENTS ET POPULAIRES *****/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}


/***** CARDS *****/

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 500;
    font-size: 14px;
}

.neutral-star {
    color: var(--main-bg-color)
}


/***** HÉBERGEMENTS *****/

.section-hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title h2 {
    margin : 0;      
}

.hebergements-group .card {
    width: 30.9%;
    margin-top: 30px;
}

.hebergements-group .card-content {
    padding-left: 15px;
}

.hebergements-group .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px white;
    box-sizing: border-box;
}

.hebergements-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-group .card-title {
    margin-top: 0px; 
    margin-bottom: 8px;
}

.hebergements-group .card-subtitle {
    font-size: 14px;
    margin : 0;      
    margin-bottom: 8px;   
}

.hebergements-group .card-rating {
    font-size: 18px;
    margin : 0;  
    margin-bottom: 8px;   
}

.plus p {
    margin-top: 30px; 
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}


/***** POPULAIRES *****/

.section-populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 34.5%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 5px white;
    box-sizing: border-box;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
} 

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/***** ACTIVITES *****/

.activites {
    display: flex;
    justify-content: space-between;
}

.activites-title h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-left: 30px;
}

.activites-group .card {
    width: 22.2%;
}

.activites-group .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    object-fit: cover;
}

.activites-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.activites-group .card-title {
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding-left: 19px; 
}


/***** FOOTER *****/

footer {
    width: 100%;
    background-color: var(--main-bg-color);
    margin-top: 65px;
    display: flex;
}

.footer-group {
    width: 100%;
    display: flex;
}

.content-footer {
    width: 100%;
    padding: 20px 0px 0px 20px;
} 

.content-footer h4 {
    margin : 0;    
    margin-bottom: 20px; 
}

.content-footer ul {
    padding: 0px;
    margin : 0;    
}

.content-footer li {
    list-style: none; 
    margin-bottom: 20px;
}


/***** MEDIA QUERIES *****/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-direction: column;
        align-items: baseline;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .section-hebergements {
        width: 100%;
        margin-bottom: 50px;
    }

    .section-populaires {
        width: 100%;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .populaires-cards a {
        flex: 1;
    }

    .activites-group {
        align-items: stretch;
    }

    .activites-group .card img {
        height: 200px;  
    }

    .activites-group .card {
        width: 21%;
        padding: 0;
    }

    .activites-group .card-title {
        margin-top: 15px; 
        margin-bottom: 15px; 
    } 

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

.body-section {
    padding: 0px;
}

header {
    flex-direction: column;
}
 
.menu {
    width: 100%;
} 

nav ul {
    gap: 0;
    align-items: center;
    justify-content: center;
}

nav li {
    width: 50%;
    padding: 0px 0px 15px 0px; 
    border-top: none;
    border-bottom: 2px solid var(--main-bg-color);
    text-align: center;
}

nav li:hover {
    border-top: none;
    border-bottom: solid 2px var(--main-color);
    color : var(--main-color);    
}

.section-informations  {
    padding: 0px 20px 0px 20px;
}

.informations {
    margin-top: 15px;
}

.section-informations form{
    justify-content: center;
}

.section-activites {
    padding: 30px;
}

.texte-recherche {
    display: none;
}

.bouton-recherche .fa-magnifying-glass {
    display: inline; 
}

.bouton-recherche {
    padding: 16px;
    border-radius: 15px 15px 15px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.filtres {
    gap: 20px;
}

.boutons-filtres {
    justify-content: space-between ;
    gap: 0;
}

.boutons-filtres button {
    width: 162.5px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 13px 19px 13px 19px;
}

.logo img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergements-and-populaires section {
    border-radius: 0;
}

.hebergements-and-populaires .section-hebergements {
    padding: 20px 20px 15px 20px; 
}

.hebergements-and-populaires .section-populaires {
    padding: 30px 20px 30px 20px; 
}

.section-hebergements {
    order: 2;
    width: 100%;
    background-color: white;
    margin-bottom: 35px;
    margin-top: 15px;
}

.hebergements-group .card {
    width: 100%;
    margin-top: 15px;
}

.plus p {   
    margin-top: 15px; 
}

.section-populaires {
    order: 1;
    width: 100%;
}

.populaires-cards {
    flex-direction: column;
    display: block;
}

.populaires-cards .card{
    margin-top: 15px;
}

.activites-title h2 {
    margin-top: 0;
    padding-left: 0;
}

.activites-group {
    flex-direction: column;
    gap: 15px;
}

.activites-group .card {
    width: 100%;
}

.activites-group .card img {
    height: 141px;
}

.activites-group .card-title {
    margin-top: 20px; 
    margin-bottom: 20px; 
} 

footer {
    padding-bottom: 10px;
    margin-top: 35px;
}

.footer-group {
    display: block;
}

.content-footer {
    width: 90%;
    padding: 30px 0px 0px 30px;
} 

.content-footer li {
    margin-bottom: 15px;
}


}
