/* GENERAL */

body {
    margin : 0;
}

* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-size: 22px;  
    font-weight: 600;  
}

h3 {
    font-size: 16px;   
    font-weight: 600;  
}

h4 {
    font-size: 18px;
    font-weight: 600;
    margin : 0;
}
  
.section-hebergements {
    order: 1;
}

.section-populaires {
    order: 2;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto; 
}

.logo img {
    width: 61px;
    height: 19px;
}

.menu {
    font-size: 16px
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 68px;
}

nav li {
    box-sizing: border-box; 
    padding: 16px 0px 50px 0px; 
    border-top: 2px solid transparent;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    color : #0065FC;    
}

/* HEADLINE */

.headline h1 {
    margin : 0;
    margin-top: 30px;
}

.headline p {
    margin : 0;
    margin-top: 8px;
}

/* RECHERCHE */

form.recherche {
    margin : 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

.recherche {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    font-size: 110%;
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border: solid 1px #F2F2F2;
    padding: 15px;
}

.champ-recherche {   
    width: fit-content;
    font-size: 18px ;
    font-weight: 600;
    border: solid 1px #F2F2F2;
    border-right: none;
    border-left: none;
    padding: 13.5px 0px 13.5px 0px;
}

.champ-recherche::placeholder {
    text-align: center;
    color:black; 
}

.bouton-recherche {
    color: white;  
    background-color: #0065FC; 
    padding: 14px;
    border-radius: 0px 15px 15px 0px;
    border: #0065FC;
    font-weight: 600;
}

.texte-recherche {
    font-size: 18px;
}

.bouton-recherche .fa-magnifying-glass {
    display: none;
    color: white;
    font-size: 18px; 
}

/* FILTRES */

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
}

.boutons-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
}

.boutons-filtres button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    font-size: 17px;
    font-weight: 600;
    padding: 13px;
}

.boutons-filtres button:hover {
    background-color : #DEEBFF;    
}

.informations p {
    margin : 0;
}

.informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-fire {
    font-size: 20px;
}

/* HEBERGEMENTS ET POPULAIRES */

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* CARDS */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

/* HÉBERGEMENTS */

.section-hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title h2 {
    margin : 0;      
}

.hebergements-group .card {
    width: 30.9%;
    padding: 0;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
    margin-top: 30px;
}

.hebergements-group .card-content {
    padding-left: 15px;
}

.hebergements-group .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px white;
    box-sizing: border-box;
    object-fit: cover;
}

.hebergements-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-group .card-title {
    margin-top: 4px; 
    margin-bottom: 8px;
}

.hebergements-group .card-subtitle {
    font-size: 14px;
    margin : 0;      
    margin-bottom: 8px;   
}

.hebergements-group .card-rating {
    font-size: 18px;
    margin : 0;  
    margin-bottom: 8px;   
}

.plus h4 {
    margin : 0;    
    margin-top: 30px; 
}


/* POPULAIRES */

.section-populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
} 

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* ACTIVITES */

.activites {
    display: flex;
    justify-content: space-between;
}

.activites-title h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-left: 30px;
}

.activites-group .card {
    width: 22.2%;
    padding: 0;
}

.activites-group .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    object-fit: cover;
}

.activites-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.activites-group .card-title {
    margin-top: 24px; 
    margin-bottom: 24px; 
    padding-left: 19px; 
}


/* FOOTER */


.footer {
    display: flex;
    justify-content: space-between;
}

.footer section {
    background-color: var(--main-bg-color);
    margin-top: 65px;
}

.footer-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-zone {
    display: flex;
    flex-direction: column;
    width: 446px;
}

.content-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0px 0px 20px;
}

.content-footer h4 {
    margin : 0;    
    margin-bottom: 20px; 
}

.content-footer ul {
    padding: 0px;
    margin : 0;    
}

.content-footer li {
    list-style: none; 
    margin-bottom: 20px;
}


/* A TRIER */

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.euro {
    font-weight: 500;
    font-size: 14px;
}

.neutral-star {
    color: var(--main-bg-color)
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .section-hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

.main-container {
    padding: 0px;
}

   
header {
    flex-direction: column;
}

.section-informations  {
    padding: 20px;
}

.section-informations form{
    justify-content: center;
}

.section-activites {
    padding: 20px;
}

.texte-recherche {
    display: none;
}

.bouton-recherche .fa-magnifying-glass {
    display: inline; 
}

.bouton-recherche {
    padding: 16px;
    border-radius: 15px 15px 15px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.boutons-filtres {
    justify-content: space-evenly ;
}

.boutons-filtres button {
    width: 162.5px;
}

.logo img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-hebergements {
    order: 2;
    width: 100%;
    background-color: white;
}

.section-populaires {
    order: 1;
    width: 100%;
}

.hebergements-group .card {
    width: 100%;
}

.populaires-cards {
    flex-direction: column;
}

.populaires-cards img {
    height: 100%;
}

.populaires-cards .card-content {
    height: 100%;
} 

.activites-group {
    flex-direction: column;
    gap: 15px;
}

.activites-group .card {
    width: 100%;
}

.activites-group .card img {
    height: 124px;
}

.footer-zone {
    width: 100%;
}

}
